$font-family-Inter: 'Inter', sans-serif;
$font-family-Kanit: 'Kanit', sans-serif;
$font-family-Lato: 'Lato', sans-serif;
$font-family-Open: 'Open Sans', sans-serif;

$white: rgba(255, 255, 255);
$boxshadow-pedia: rgb(0 0 0 / 7%) 0px 4px 6px -1px;
$boxshadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
$boxshadow-button: rgb(0 171 85 / 24%) 0px 8px 16px 0px;
$gray: #c9d1d9;
$color: rgb(0, 171, 85);
$text: rgba(49, 53, 59, 0.68);

button {
  border: none;
  outline: none;
}

a {
  font-size: 13.333px;
}

.navbar {
  height: 75px;
  background-color: $white;
  box-shadow: $boxshadow-pedia;
  -webkit-box-shadow: $boxshadow-pedia;
  -moz-box-shadow: $boxshadow-pedia;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 3rem 0px 3rem;
  z-index: 4;
  .group {
    height: 100%;
    display: flex;
    align-items: center;
    img {
      width: 120px;
      height: 100%;
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }
    .sub-navbar {
      margin: 0px 0px 0px 2rem;
      a {
        margin: 0px 0.45rem 0px 0.45rem;
        color: #2d3748;
      }
    }
  }
  .sub-navbar {
    display: flex;
    align-items: center;
    button {
      width: 200px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background-color: $white;
      box-shadow: $boxshadow-pedia;
      -webkit-box-shadow: $boxshadow-pedia;
      -moz-box-shadow: $boxshadow-pedia;
      border-radius: 30px;
      text-transform: capitalize;
      font-family: $font-family-Kanit;
      color: $color;
    }
    .language {
      width: 40px;
      height: 40px;
      border-radius: 15px;
    }
    a {
      margin: 0px 1.25rem 0px 1.25rem;
      color: $text;
      font-family: $font-family-Open;
      text-decoration: none;
      text-transform: capitalize;
    }
    .mobile {
      display: none;
      visibility: hidden;
      width: 0px;
      height: 0px;
    }
  }
}

@media screen and (max-width: 1159px) {
  .navbar {
    padding: 0px;
    justify-content: space-around;
    .group {
      .sub-navbar {
        a {
          display: none;
          visibility: hidden;
        }
      }
    }
    .sub-navbar {
      a {
        display: none;
        visibility: hidden;
      }
      button {
        width: 0px;
        height: 0px;
        display: none;
        visibility: hidden;
      }
      .mobile {
        visibility: visible;
        display: flex;
        width: 38px;
        height: 38px;
        border-radius: 10px;
        font-size: 19px;
      }
    }
  }
}
