$font-family-Inter: 'Inter', sans-serif;
$font-family-Kanit: 'Kanit', sans-serif;
$font-family-Lato: 'Lato', sans-serif;
$font-family-Open: 'Open Sans', sans-serif;
$font-family-public: 'Public Sans', sans-serif;

$white: rgba(255, 255, 255);
$boxshadow-pedia: rgb(0 0 0 / 7%) 0px 4px 6px -1px;
$boxshadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.75);
$boxshadow-button: rgb(0 171 85 / 24%) 0px 8px 16px 0px;
$gray: #c9d1d9;
$color: rgb(0, 171, 85);
$text: rgba(49, 53, 59, 0.68);

.app-grid {
  display: flex;
  .app-cols {
    width: 100%;
    &:first-child {
      max-width: 280px;
      height: 100vh;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      background-color: $white;
      border-right: solid 1px rgba(0, 0, 0, 0.12);
      .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0px 10px 0px 10px;
        img {
          width: 140px;
          height: 80px;
          background-size: 100% 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
    &:last-child {
      max-width: 80%;
    }
  }
}

.app-navbar {
  width: 100%;
  height: 80px;
  box-shadow: $boxshadow-pedia;
  -webkit-box-shadow: $boxshadow-pedia;
  -moz-box-shadow: $boxshadow-pedia;
  background-color: rgba(255, 255, 255, 0.72);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 1.25rem 0px 1.25rem;
  #field-input {
    margin: 0px;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    height: 46px;
    max-width: 400px;
    input {
      width: 80%;
    }
    .icons {
      width: 20px;
      height: 20px;
      margin: 0px 0px 0px 15px;
    }
    button {
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      box-shadow: $boxshadow-pedia;
      -webkit-box-shadow: $boxshadow-pedia;
      -moz-box-shadow: $boxshadow-pedia;
      border-radius: 10px;
      padding: 0px;
      .icons {
        width: 20px;
        height: 20px;
        margin: 0px;
        fill: $color;
      }
    }
  }
  .app-navbar-avatar {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: $white;
    box-shadow: $boxshadow;
    -webkit-box-shadow: $boxshadow;
    -moz-box-shadow: $boxshadow;
    overflow: hidden;
    padding: 5px;
    img {
      border-radius: 15px;
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.app-list {
  display: flex;
  flex-direction: column;
  .app-list-title {
    padding: 0px 0px 0px 25px;
    margin: 8px 0px 8px 0px;
    .title {
      text-transform: uppercase;
      font-size: 13px;
      font-family: $font-family-public;
      color: rgb(33, 43, 54);
      font-weight: bold !important;
    }
  }
  a {
    padding: 10px 0px 10px 25px;
    color: $text;
    font-family: $font-family-public;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 500ms ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: rgb(49 53 59 / 5%);
    }
    .group {
      display: flex;
      align-items: center;
    }
    .icons {
      width: 15px;
      height: 15px;
      margin: 0px 10px 0px 0px;
    }
    #right {
      width: 10px;
      height: 10px;
    }
  }
  .active {
    animation: anchor-active 1s forwards;
    .icons {
      fill: $color;
    }
  }
  .app-sub-list {
    padding: 0px 0px 0px 0px;
    a {
      padding: 10px 0px 10px 25px;
    }
  }
}

.a-unactive {
  display: none !important;
}

.a-active {
  padding: 10px 0px 10px 50px !important;
  position: relative;
  animation: a-active 1s forwards;
  &::before {
    content: '';
    position: absolute;
    left: 29px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: $color;
  }
}

.app-cols {
  .headers {
    padding: 0px 0px 1rem 0px;
  }
}

.app-right {
  padding: 2rem 0px 0px 2rem;
  .title {
    h5 {
      margin: 0px 0px 10px 0px;
      font-family: $font-family-public;
      font-weight: bold;
    }
  }
  .location {
    font-size: 13.333px;
    color: $text;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    li {
      display: inline-block;
      padding: 0px 15px 0px 15px;
      position: relative;
      &:not(:first-child) {
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 5px;
          height: 5px;
          background-color: black;
          border-radius: 100%;
        }
      }
      &:first-child {
        padding: 0px 15px 0px 0px;
      }
    }
  }
}

.app-tabs {
  padding: 0px;
  li {
    display: inline-block;
    padding: 0px 0px 5px 0px;
    margin: 0px 10px 0px 10px;
    &:first-child {
      padding: 0px 15px 5px 0px;
      margin: 0px 0px 0px 0px;
    }
    a {
      padding: 8px 0px 8px 0px;
      text-decoration: none;
      color: rgb(33, 43, 54);
      font-family: $font-family-public;
      font-size: 13.888px;
      position: relative;
    }
  }
  .active {
    position: relative;
    &::before {
      position: absolute;
      animation: tabs 1s forwards;
      content: '';
      width: 100%;
      height: 1.55px;
      background-color: $color;
      bottom: 0;
    }
  }
}

@keyframes tabs {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app-form {
  box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
    rgb(145 158 171 / 24%) 0px 16px 32px -4px;
  -webkit-box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
    rgb(145 158 171 / 24%) 0px 16px 32px -4px;
  -moz-box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
    rgb(145 158 171 / 24%) 0px 16px 32px -4px;
  width: 100%;
  height: 40vh;
  border-radius: 15px;
  margin: 2rem 0px 0px 0px;
  padding: 25px 15px 15px 15px;
  #field-input {
    border-radius: 10px;
    height: 50px;
    max-width: 100%;
    box-shadow: none;
    border: solid 1px rgba(0, 0, 0, 0.12);
    input {
      &:hover {
        padding: 0px 0px 0px 30px;
      }
    }
  }
  #field-textarea {
    border-radius: 10px;
    max-width: 100%;
    height: 160px;
    box-shadow: none;
    border: solid 1px rgba(0, 0, 0, 0.12);
    padding: 10px 0px 0px 0px;
    textarea {
      &:hover {
        padding: 0px 0px 0px 30px;
      }
    }
  }
  label {
    color: $text;
    font-family: $font-family-public;
    font-size: 14px;
  }
  #field-button {
    width: 100%;
    margin: 25px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    button {
      border-radius: 10px;
    }
  }
  .groups {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    margin: 10px 0px 0px 0px;
    .group {
      display: flex;
      align-items: center;
      .box {
        width: 22px;
        height: 22px;
        margin: 0px 6px 0px 0px;
        border-radius: 100%;
        border: solid 1px #c9d1d9;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        .box-border {
          animation: box-border 1s forwards;
        }
      }
      span {
        font-family: $font-family-Kanit;
        color: $text;
        font-size: 13.333px;
      }
    }
  }
  .icons_ {
    width: 15px;
    height: 15px;
    margin: 0px 20px 0px 0px;
    fill: $color;
  }
}

@keyframes box-border {
  from {
  }
  to {
    width: 14px;
    height: 14px;
    background-color: rgb(0 171 85 / 24%);
    border-radius: 100%;
  }
}

#app-form-left {
  width: 95%;
  #field-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:last-child {
    margin: 20px 0px 0px 0px;
  }
}

.transition,
.transition-email {
  animation: transition 1s forwards;
}

@keyframes transition {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 100%;
    height: 100%;
  }
}

@keyframes a-active {
  from {
    opacity: 0;
  }
  to {
    display: flex !important;
    opacity: 1;
  }
}

@keyframes anchor-active {
  from {
  }
  to {
    background-color: rgba(0, 171, 85, 0.08);
    color: $color;
    padding: 10px 0px 10px 25px;
    border-right: solid 2px $color;
  }
}

.create-grid {
  display: flex;
  .create-cols {
    width: 100%;
    height: 100vh;
    &:first-child {
      max-width: 400px;
      padding: 0px 5px 0px 0px;
    }
    &:last-child {
      max-width: 70%;
    }
  }
}

.create-upload-avatar {
  width: 100%;
  background-color: $white;
  box-shadow: $boxshadow-pedia;
  -webkit-box-shadow: $boxshadow-pedia;
  -moz-box-shadow: $boxshadow-pedia;
  border-radius: 15px;
  padding: 2.55rem 15px 2.55rem 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-btn-wrapper input[type='file'] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-avatar {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  background-color: $white;
  box-shadow: $boxshadow-pedia;
  -webkit-box-shadow: $boxshadow-pedia;
  -moz-box-shadow: $boxshadow-pedia;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 15px 0px;
  overflow: hidden;
  .child-upload-avatar {
    width: 145px;
    height: 145px;
    background-color: rgb(244, 246, 248);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 12.333px;
    font-family: $font-family-Kanit;
    font-weight: bold;
    color: $text;
    .icons {
      width: 24px;
      height: 24px;
      margin: 0px 0px 5px 0px;
      fill: $text;
    }
  }
  .avatar {
    width: 145px;
    height: 145px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
  }
}

.create-upload-avatar {
  .title {
    font-size: 13.333px;
    color: $text;
    font-family: $font-family-public;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 0px 15px 0px;
  }
}

.create-footer {
  display: flex;
  flex-direction: column;
  .f-title {
    font-family: $font-family-public;
    font-size: 14px;
    color: black;
  }
  .f-description {
    font-family: $font-family-public;
    font-size: 13.333px;
    margin: 0px 0px 10px 0px;
    text-transform: capitalize;
  }
}

.pretty.p-switch .state:before {
  height: 20px !important;
}

.pretty.p-switch.p-fill input:checked ~ .state:before {
  background-color: $color !important;
  border: solid 1px $white !important;
}

#field-group {
  display: flex;
  align-items: center;
  #field-input {
    margin: 0px 5px 0px 5px;
    .box {
      width: auto;
      margin: 0px 10px 0px 0px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .icons {
      width: 13px;
      height: 13px;
      fill: $color;
    }
  }
}

.create-cols {
  .app-form {
    height: auto;
    padding: 25px 15px 25px 15px;
    margin: 0px;
  }
}

#field-description {
  display: flex;
  align-items: center;
  cursor: default;
  .icons {
    width: 20px;
    height: 20px;
    margin: 0px 10px 0px 0px;
    fill: $color;
  }
  span {
    font-size: 13.333px;
    color: $text;
    text-transform: capitalize;
  }
}

#app-menu {
  width: 100%;
  margin: 0px 5px 0px 5px;
  position: relative;
  #field-input {
    margin: 0px;
  }
  .dropdown {
    position: absolute;
    width: 100%;
    background-color: $white;
    box-shadow: $boxshadow-pedia;
    -webkit-box-shadow: $boxshadow-pedia;
    -moz-box-shadow: $boxshadow-pedia;
    border-radius: 10px;
    z-index: 2;
    animation: dropdown 1s forwards;
    .dropdown-list {
      padding: 15px;
      display: flex;
      flex-direction: column;
      a {
        color: $color;
        font-family: $font-family-public;
        font-size: 13.333px;
        text-decoration: none;
        margin: 0px 0px 5px 0px;
        text-transform: capitalize;
      }
    }
  }
}

@keyframes dropdown {
  from {
    opacity: 0;
    width: 0;
    height: 0;
  }
  to {
    opacity: 1;
    width: 100%;
    height: auto;
  }
}

.app-table {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: $white;
  box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
    rgb(145 158 171 / 24%) 0px 16px 32px -4px;
  -webkit-box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
    rgb(145 158 171 / 24%) 0px 16px 32px -4px;
  -moz-box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
    rgb(145 158 171 / 24%) 0px 16px 32px -4px;
  border-radius: 15px;
  padding: 15px;
  overflow: hidden;
  #field-input {
    border-radius: 10px;
    height: 50px;
    max-width: 320px;
    box-shadow: none;
    border: solid 1px rgba(0, 0, 0, 0.12);

    .icons {
      width: 18px;
      height: 18px;
      margin: 0px 15px 0px 15px;
    }
    input {
      padding: 0px;
      &:hover {
        padding: 0px 0px 0px 10px;
      }
    }
  }
  .app-table-destroy {
    position: absolute;
    width: 100%;
    height: 75px;
    background-color: rgb(200, 250, 205);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1.55rem 0px 1.55rem;
    left: 0;
    top: 0;
    z-index: 1;
    span {
      font-family: $font-family-public;
      font-weight: bold;
      color: $color;
      font-size: 13.333px;
      .icons {
        width: 20px;
        height: 20px;
        cursor: pointer;
        fill: $text;
      }
    }
  }
  .groups {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icons {
      width: 20px;
      height: 20px;
      margin: 0px 10px 0px 0px;
      cursor: pointer;
      fill: $text;
    }
  }
}

.app-list {
  .group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      width: 160px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      color: $color;
      font-family: $font-family-Kanit;
      border-radius: 30px;
      margin: 0px 15px 0px 0px;
      box-shadow: $boxshadow-pedia;
      -webkit-box-shadow: $boxshadow-pedia;
      -moz-box-shadow: $boxshadow-pedia;
    }
  }
}

.table-title {
  padding: 15px 10px 15px 10px;
  border-radius: 10px;
  margin: 0px;
  background-color: #f9f9f9;
  white-space: nowrap;
  li {
    display: inline-block;
    align-items: center;
    margin: 0px 5px 0px 5px;
    font-family: $font-family-public;
    font-weight: bold;
    font-size: 13.333px;
    width: 100%;
    max-width: 200px;
  }
  #choice {
    width: 40px;
    position: relative;
    .box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -75%);
      cursor: pointer;
      width: 17px;
      height: 17px;
      border: solid 2px #555;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 8px;
      }
    }
    .box#active {
      background-color: $color;
      border: solid 2px $color;
      i {
        color: $white;
      }
    }
  }
  #gender {
    max-width: 90px;
  }
  #phone {
    max-width: 170px;
  }
  #type {
    max-width: 100px;
  }
  #options {
    max-width: 90px;
  }
}

.table-app {
  max-height: 78%;
  overflow: auto;
  margin: 10px 0px 0px 0px;
  /* width */
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  ul {
    list-style-type: none;
    padding: 5px 10px 5px 10px;
    margin: 0px;
    border-bottom: solid 1px #f1f1f1;
    white-space: nowrap;
    flex-wrap: nowrap;
    li {
      display: inline-block;
      align-items: center;
      margin: 0px;
      padding: 0px;
      font-family: $font-family-public;
      font-size: 13.333px;
      width: 100%;
      max-width: 200px;
      margin: 0px 5px 5px 5px;
      .group {
        display: flex;
        align-items: center;
        .box {
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $white;
          box-shadow: $boxshadow-pedia;
          -webkit-box-shadow: $boxshadow-pedia;
          -moz-box-shadow: $boxshadow-pedia;
          border-radius: 10px;
          margin: 0px 3px 0px 3px;
          .icons {
            width: 20px;
            height: 20px;
            margin: 0px;
          }
        }
      }
    }

    #choice {
      width: 40px;
      position: relative;
      .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        width: 17px;
        height: 17px;
        border: solid 2px #555;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: 8px;
        }
      }
      .box#active {
        background-color: $color;
        border: solid 2px $color;
        i {
          color: $white;
        }
      }
    }
    #gender {
      max-width: 90px;
    }
    #phone {
      max-width: 170px;
    }
    #type {
      max-width: 100px;
    }
    #options {
      max-width: 60px;
    }
  }
}

.filter-list {
  position: relative;
  .filter-dropdown {
    position: absolute;
    background-color: $white;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
      rgb(145 158 171 / 24%) 0px 16px 32px -4px;
    -webkit-box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
      rgb(145 158 171 / 24%) 0px 16px 32px -4px;
    -moz-box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
      rgb(145 158 171 / 24%) 0px 16px 32px -4px;
    border-radius: 10px;
    width: 200px;
    animation: dropdown 1s forwards;
  }
}

@keyframes dropdown {
  from {
    opacity: 0;
    left: -170px;
    top: 0px;
  }
  to {
    opacity: 1;
    left: -170px;
    top: 40px;
  }
}

.lists-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 0px 6rem 0px;
  .card {
    width: 100%;
    max-width: 340px;
    height: 420px;
    background-color: $white;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
      rgb(145 158 171 / 24%) 0px 16px 32px -4px;
    -webkit-box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
      rgb(145 158 171 / 24%) 0px 16px 32px -4px;
    -moz-box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
      rgb(145 158 171 / 24%) 0px 16px 32px -4px;
    border-radius: 16px;
    overflow: hidden;
    margin: 5px;
    .card-image {
      width: 100%;
      height: 190px;
      position: relative;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 17%);
        position: absolute;
      }
      img {
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .card-header {
      position: relative;
      background-color: $white;
      img {
        width: 70px;
        height: 70px;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 100%;
        z-index: 1;
      }
      .card-image-avatar {
        width: 120px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        .bg-trans {
          position: absolute;
          top: 45%;
          width: 180px;
          height: 180px;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .block {
        height: 30px;
      }
      .group {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-family: $font-family-Kanit;
          font-size: 13.333px;
        }
      }
      .status {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13.333px;
        color: $text;
        font-family: $font-family-public;
      }
    }
    .card-body {
      padding: 5px 10px 0px 10px;
      .group {
        line-height: 18px;
        font-family: $font-family-public;
        span {
          font-size: 12.666px;
          &:not(:first-child) {
            margin: 1.66px;
          }
        }
      }
      .groups {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0px 0px 0px;
        button {
          margin: 0px 5px 0px 5px;
          width: 38px;
          height: 38px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $white;
          box-shadow: $boxshadow-pedia;
          -webkit-box-shadow: $boxshadow-pedia;
          -moz-box-shadow: $boxshadow-pedia;
          border-radius: 10px;
          .icons {
            width: 20px;
            height: 20px;
          }
        }
      }
      .phone {
        font-family: $font-family-Kanit;
        color: $text;
        font-size: 13.333px;
      }
    }
  }
}

.lists {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 0px 4rem 0px;
}

.card-product {
  width: 100%;
  max-width: 240px;
  margin: 5px;
  background-color: $white;
  box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
    rgb(145 158 171 / 24%) 0px 16px 32px -4px;
  -webkit-box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
    rgb(145 158 171 / 24%) 0px 16px 32px -4px;
  -moz-box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
    rgb(145 158 171 / 24%) 0px 16px 32px -4px;
  border-radius: 20px;
  overflow: hidden;
  .card-product-image {
    width: 100%;
    height: 260px;
    border-radius: 15px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .group-absolute {
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      padding: 0px 10px 0px 10px;
      button {
        width: 32px;
        height: 32px;
        background-color: $white;
        border-radius: 8px;
        box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
          rgb(145 158 171 / 24%) 0px 16px 32px -4px;
        -webkit-box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
          rgb(145 158 171 / 24%) 0px 16px 32px -4px;
        -moz-box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
          rgb(145 158 171 / 24%) 0px 16px 32px -4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 5px 0px 5px;
        &:first-child {
          margin: 0px 5px 0px 0px;
        }
        .icons {
          width: 20px;
          height: 20px;
          margin: 0px;
        }
      }
    }
  }
  .card-product-body {
    padding: 10px;
    .card-product-author {
      display: flex;
      align-items: center;
      margin: 0px 0px 5px 0px;
      background-color: #f1f1f1;
      transition: 500ms ease-in-out;
      padding: 3px;
      border-radius: 10px;
      .card-product-avatar {
        width: 38px;
        height: 38px;
        background-color: $white;
        box-shadow: $boxshadow-pedia;
        -webkit-box-shadow: $boxshadow-pedia;
        -moz-box-shadow: $boxshadow-pedia;
        border-radius: 10px;
        padding: 3px;
        margin: 0px 5px 0px 0px;
        img {
          width: 100%;
          height: 100%;
          background-size: 100% 100%;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 10px;
        }
      }
      span {
        font-size: 12px;
        font-family: $font-family-public;
        color: $text;
      }
      &:hover {
        cursor: pointer;
        border-radius: 15px;
        background-color: rgb(0 171 85 / 24%);
        span {
          color: $color !important;
        }
      }
    }
    .name {
      font-size: 14px;
      margin: 0px;
      font-family: $font-family-Kanit;
    }
    .group {
      font-size: 13.333px;
      color: $text;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 5px 0px 5px;
      .group-color {
        display: flex;
        align-items: center;
        cursor: default;
        .border-color {
          width: 12px;
          height: 12px;
          border-radius: 100%;
          position: relative;
          background-color: $white;
          box-shadow: $boxshadow-pedia;
          -webkit-box-shadow: $boxshadow-pedia;
          -moz-box-shadow: $boxshadow-pedia;
          margin: 0px 1.25px 0px 1.25px;
          &:first-child {
            margin: 0px 1.25px 0px 0px;
          }
          .child-border-color {
            position: absolute;
            width: 6px;
            height: 6px;
            cursor: pointer;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 10px;
          }
        }
        span {
          font-size: 12px;
          font-family: $font-family-Kanit;
          margin: 0px 0px 0px 5px;
          color: $color;
        }
      }
      .price {
        font-family: $font-family-Kanit;
        font-size: 13.333px;
      }
    }
  }
}

.loading-product {
  margin: 0px 15px 0px 15px;
  width: 100%;
  max-width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}
